{% extends "_base.html" %}
{% block body %}
            <div class="jumbotron">
                <h1>GitHub Notifier</h1>
                <p>Notifies GitHub users via email based on specific matches to GitHub issues, pull requests and commits</p>
                <h3>Enabled Repositories</h3>
                <ul class="list-unstyled">
                    {% for repo in repos %}
                        <li><a href="https://github.com/{{ repo }}">{{ repo }}</a></li>
                    {% endfor %}
                </ul>
            </div>
{% endblock %}
